echo venv310/ > .gitignore
echo __pycache__/ >> .gitignore
echo *.pyc >> .gitignore
venv/
__pycache__/
*.pyc
venv/
__pycache__/
*.pyc
*.pyd
.DS_Store
venv310/venv310/ 
sort.py
train.py
check.py
